# .tfstate files
*.tfstate
*.tfstate.*

*.terraform*
*.terragrunt-cache*

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

option3-terragrunt/**/backend.tf
option3-terragrunt/**/provider.tf
option3b-terragrunt/**/backend.tf
option3b-terragrunt/**/provider.tf
option3d-terragrunt/**/backend.tf
option3d-terragrunt/**/provider.tf

option4-terragrunt-and-ansible/non-prod
option4-terragrunt-and-ansible/prod
